/*Karla Alamillo Palacios
Diseño Web */
body{

margin:0;
font-family:'Times New Roman', Times, serif;
color:white;

background:linear-gradient(-45deg,#001f3f,#1e466e,#67baf4,#e80020, #a6051a, #ed1c24);
background-size:400% 400%;
animation:fondoAnimado 12s ease infinite;

}

@keyframes fondoAnimado{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}



header{
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid white;
}

h1{
    font-size: 45px;
    text-shadow: 0 0 10px red;
}


.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}


.contenedor-imagen{
    text-align: center;
}

.contenedor-imagen img{
    width: 250px;
    height: 250px;
    object-fit: cover;

    border: 2px solid red;
    border-radius: 12px;

    box-shadow: 0 0 10px red;

    transition: transform 0.3s, box-shadow 0.3s;
}

.contenedor-imagen img:hover{
    transform: scale(1.08);
    box-shadow: 0 0 25px red;
}


.contenedor-imagen p{
    margin-top: 10px;
    font-size: 20px;
}