/*Karla Alamillo Palacios
Diseño Web */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Times New Roman', Times, serif;
}

body{

background:
linear-gradient(rgba(0,0,0,.85),rgba(0,0,0,.85)),
url("https://i.pinimg.com/736x/52/c4/99/52c4993f998f3611abc35f3dbd1237b2.jpg");

background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;

}


#loader{

position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:black;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
z-index:9999;

}

.lights{

display:flex;
gap:15px;
margin-bottom:20px;

}

.light{

width:40px;
height:40px;
background:#330000;
border-radius:50%;
box-shadow:0 0 10px black;

}

.loading-text{

color:white;
font-size:20px;
letter-spacing:2px;

}



h1{
text-align:center;
margin:50px auto;
position:relative;
width:80%;
}

h1 span{
background:black;
padding:10px 20px;
}

h1::before{
content:"";
position:absolute;
width:100%;
height:2px;
background:red;
top:50%;
left:0;
z-index:-1;
}



.img-gallery{

width:85%;
margin:auto;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

}

.img-gallery img{

width:100%;
height:200px;
object-fit:cover;
border-radius:8px;
cursor:pointer;
transition:.4s;

}



.img-gallery img:hover{

transform:scale(1.15);
box-shadow:0 0 25px red;

}



.ful-img{

position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:rgba(0,0,0,0.95);
display:none;
align-items:center;
justify-content:center;

}

.ful-img img{

max-width:80%;
max-height:80%;
border-radius:10px;

}


.close{

position:absolute;
top:20px;
right:40px;
font-size:35px;
cursor:pointer;

}

.prev,.next{

position:absolute;
top:50%;
font-size:50px;
cursor:pointer;
padding:10px;

}

.prev{
left:5%;
}

.next{
right:5%;
}

.prev:hover,.next:hover{
color:red;
}


/* boton regreso */

.btn-regresar{

display:inline-block;
position:relative;

padding:12px 30px;
margin:40px auto;

color:white;
font-size:18px;
text-decoration:none;
text-transform:uppercase;
letter-spacing:2px;

background:#e80020;
border-radius:10px;

overflow:hidden;

transition:0.4s;

}

.btn-regresar:hover{

background:#e80020;
color:white;

transform:scale(1.1);

box-shadow:
0 0 10px #ed1c24,
0 0 20px #ed1c24,
0 0 40px #ed1c24;

}